html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Karma, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  background-color: #C1E1C1;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
}

li {
  display: inline;
}

.li a {
  display: block;
  padding: 8px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: #fff;
  display: grid;
  grid-template-columns: minmax(150px, 60%) 1fr;
}

figure {
  margin-left: 1rem;
}

h2 {
  margin: 0;

}

p {
  padding-top: 0;
}

footer {
  padding: 1rem;
  background-color: #C1E1C1;
  display: block;
}

.logo {
  float: left;
}

.socials {
  float: right;
}

.pages a {
  float: right;
  border: none;
  font-size: 25px;
  color: black;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  cursor: pointer;
}

.pages a:hover {
  background: #f1f1f1;
  color: #4CAF50;
  transition: all 0.4s
}

.shop {
  background-color: #4CAF50;
  border: none;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 15px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  cursor: pointer;
}

.shop:hover {
  background: black;
  color: #fff;
  transition: all 0.4s
}
