html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Karma, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  margin: 0;
  height: 150px;
  background-color: #c1e1c1;
  list-style-type: none;
}

ul {
  padding: 1rem;
}

li {
  display: inline;
}

.li a {
  display: block;
  padding: 8px;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  margin: 0;
  height: 750px;
  background-color: #;
  padding-left: 5rem;
  display: grid;
  grid-template-columns: minmax(150px, 50%) 1fr;
}

.text {
  padding-top: 6rem;
}

figure {
  margin: 0;
  padding: 1rem;
  background-color: #f5f5f5;
}

h1 {
  font-size: 7rem;
  line-height: 7rem;
}

.text h2 {
  color: #4caf50;
  font-size: 3em;
  padding-bottom: 5rem;
  margin: 0;
}

p {
  padding-top: 0;
}

footer {
  padding: 1rem;
  background-color: #fff;
  display: block;
}

.logo {
  float: left;
  margin: 0;
}

.socials {
  padding: .5rem;
}

.instagram {
  float: right;
  padding: .5rem;
}

.facebook {
  float: right;
  padding: .5rem;
}

.pages a {
  float: right;
  border: none;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  text-align: center;
  transition-duration: .4s;
  text-decoration: none;
  cursor: pointer;
}

.pages a:hover {
  background: #f1f1f1;
  color: #4caf50;
  transition: all .4s;
}

.shop {
  background-color: #4caf50;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  width: 200px;
  text-align: center;
  transition-duration: .4s;
  text-decoration: none;
  cursor: pointer;
}

.shop:hover {
  background: black;
  color: #fff;
  transition: all .4s;
}

.girl {
  width: auto;
  height: 750px;
}
